/* Reset Style */
@font-face {
  font-family: 'Helvetica Neue Thin';
  src: url('font/helveticaneue-thin-webfont.woff2') format('woff2'),
    url('font/helveticaneue-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

/* Header Style*/

header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.84), rgba(255, 255, 255, 0.87)), url(../img/main_big_logo.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -20% 103%;
  height: 100vh;
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: auto;
}


@media only screen and (max-width: 56.25em) {
  .header__logo {
    height: auto;
    width: 140px;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__logo {
    height: auto;
    width: 130px;
  }

  header {
    background-image: none;
  }

}

@media only screen and (max-width: 320px) {
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 2rem;
  }
}

/* Utilitu */
.pt {
  padding-top: 27vh;
}

/* MENU BUTTON */

.navigation__checkbox {
  display: none
}

.navigation__button {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer
}

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem
  }
}

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#e7ebf0, #e7ebf0);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1)
}

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem
  }
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  visibility: hidden;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%
}

.navigation__item {
  margin: 1rem
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 22px;
  font-weight: 300;
  padding: 1rem 2rem;
  color: rgb(54, 47, 47);
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s
}

.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #715d5d;
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navigation__checkbox:checked~.navigation__background {
  -webkit-transform: scale(80);
  transform: scale(80)
}

.navigation__checkbox:checked~.navigation__nav {
  opacity: 1;
  visibility: visible;
  width: 100%
}

.navigation__icon {
  position: relative;
  margin-top: 2.4rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 2.3rem;
  height: 2px;
  background-color: #333;
  display: inline-block
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s
}

.navigation__icon::before {
  top: -.8rem
}

.navigation__icon::after {
  top: .8rem
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
  background-color: transparent
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg)
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg)
}

@media only screen and (max-width: 320px) {
  .navigation__list {
    position: absolute;
    top: 56%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
}

/* Header showcase */

.circle-container {
  position: relative;
  width: 24em;
  height: 24em;
  padding: 2.8em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border-radius: 50%;
  margin: 1.75em auto 0;
  z-index: 1;
  transition: all .2s ease-in;
  transform: translateY(-2800px);
  animation: animation1 2s forwards ease-in;
}


/* Animation*/
@keyframes animation1 {
  to {
    transform: translateY(0);
  }
}

.circle-container a.center {
  height: auto;
  width: 280px;
  top: 47px;
  left: 73px;
  transition: all .3s ease;
}

.circle-container img {
  transition: all .2s ease-in;
}

.circle-container a {
  display: block;
  position: absolute;
  top: 55%;
  left: 57%;
  width: 3em;
  height: 4em;
  margin: -2em;
  transition: all .2s ease;
}

.circle-container a:hover img {
  transform: scale(1.1);
}

.circle-container a.center:hover img {
  transform: scale(.93);
}

.circle-container img {
  display: block;
  width: 100%;
}

.deg0 {
  transform: rotate(-14deg) translate(11.8em) rotate(3deg);
}

/* 12em = half the width of the wrapper */
.deg15 {
  transform: rotate(-46deg) translate(12.3em) rotate(89deg);
}

.deg45 {
  transform: rotate(22deg) translate(11.3em) rotate(-20deg);
}

.deg65 {
  transform: rotate(63deg) translate(11em) rotate(-65deg);
}

.deg85 {
  transform: rotate(101deg) translate(10.7em) rotate(-102deg);
}

.deg135 {
  transform: rotate(141deg) translate(11.1em) rotate(-132deg);
}

.deg145 {
  transform: rotate(175deg) translate(11.8em) rotate(-183deg);
}

.deg165 {
  transform: rotate(210deg) translate(12em) rotate(56deg);
}

.deg180 {
  transform: rotate(237deg) translate(13em) rotate(-238deg);
}

.deg225 {
  transform: rotate(264deg) translate(13em) rotate(-264deg);
}

.deg315 {
  transform: rotate(289deg) translate(13em) rotate(-268deg);
}

.deg15_sec {
  transform: rotate(-35deg) translate(13.2em) rotate(34deg);
}

.deg45_sec {
  transform: rotate(8deg) translate(11.4em) rotate(-6deg);
}

.deg65_sec {
  transform: rotate(55deg) translate(11em) rotate(-56deg);
}

.deg85_sec {
  transform: rotate(119deg) translate(10.7em) rotate(-117deg);
}

.deg135_sec {
  transform: rotate(171deg) translate(11.6em) rotate(-170deg);
}

.deg165_sec {
  transform: rotate(217deg) translate(12.7em) rotate(143deg);
}

.deg225_sec {
  transform: rotate(270deg) translate(13.5em) rotate(-264deg);
}

@media only screen and (max-width: 56.25em) {
  .circle-container a.center {
    height: auto;
    width: 220px;
    top: 58px;
    left: 85px;
    transition: all .5s ease;
  }

  .circle-container a {
    display: block;
    position: absolute;
    top: 50%;
    left: 52%;
    width: 3em;
    height: 4em;
    margin: -2em;
    transition: all .2s ease;
  }

  .deg0 {
    transform: rotate(-14deg) translate(9.8em) rotate(3deg);
  }

  /* 12em = half the width of the wrapper */
  .deg15 {
    transform: rotate(-46deg) translate(10.3em) rotate(89deg);
  }

  .deg45 {
    transform: rotate(22deg) translate(9.3em) rotate(-20deg);
  }

  .deg65 {
    transform: rotate(63deg) translate(9em) rotate(-65deg);
  }

  .deg85 {
    transform: rotate(101deg) translate(8.7em) rotate(-102deg);
  }

  .deg135 {
    transform: rotate(141deg) translate(9.1em) rotate(-132deg);
  }

  .deg145 {
    transform: rotate(175deg) translate(9.8em) rotate(-183deg);
  }

  .deg165 {
    transform: rotate(210deg) translate(10em) rotate(56deg);
  }

  .deg180 {
    transform: rotate(237deg) translate(11em) rotate(-238deg);
  }

  .deg225 {
    transform: rotate(264deg) translate(11em) rotate(-264deg);
  }

  .deg315 {
    transform: rotate(289deg) translate(11em) rotate(-268deg);
  }

  .deg15_sec {
    transform: rotate(-35deg) translate(10.5em) rotate(34deg);
  }

  .deg45_sec {
    transform: rotate(8deg) translate(9.4em) rotate(-6deg);
  }

  .deg65_sec {
    transform: rotate(55deg) translate(9em) rotate(-56deg);
  }

  .deg85_sec {
    transform: rotate(119deg) translate(8.7em) rotate(-117deg);
  }

  .deg135_sec {
    transform: rotate(171deg) translate(9.6em) rotate(-170deg);
  }

  .deg165_sec {
    transform: rotate(217deg) translate(10.7em) rotate(143deg);
  }

  .deg225_sec {
    transform: rotate(270deg) translate(11.5em) rotate(-264deg);
  }
}

@media only screen and (max-width: 37.5em) {
  .circle-container a.center {
    height: auto;
    width: 220px;
    top: 58px;
    left: 85px;
    transition: all .5s ease;
  }

  .circle-container a {
    display: block;
    position: absolute;
    top: 50%;
    left: 52%;
    width: 3em;
    height: 4em;
    margin: -2em;
    transition: all .2s ease;
  }

  .deg0 {
    transform: rotate(-14deg) translate(9.8em) rotate(3deg);
  }

  /* 12em = half the width of the wrapper */
  .deg15 {
    transform: rotate(-46deg) translate(10.3em) rotate(89deg);
  }

  .deg45 {
    transform: rotate(22deg) translate(9.3em) rotate(-20deg);
  }

  .deg65 {
    transform: rotate(63deg) translate(9em) rotate(-65deg);
  }

  .deg85 {
    transform: rotate(101deg) translate(8.7em) rotate(-102deg);
  }

  .deg135 {
    transform: rotate(141deg) translate(9.1em) rotate(-132deg);
  }

  .deg145 {
    transform: rotate(175deg) translate(9.8em) rotate(-183deg);
  }

  .deg165 {
    transform: rotate(210deg) translate(10em) rotate(56deg);
  }

  .deg180 {
    transform: rotate(237deg) translate(11em) rotate(-238deg);
  }

  .deg225 {
    transform: rotate(264deg) translate(11em) rotate(-264deg);
  }

  .deg315 {
    transform: rotate(289deg) translate(11em) rotate(-268deg);
  }

  .deg15_sec {
    transform: rotate(-35deg) translate(10.5em) rotate(34deg);
  }

  .deg45_sec {
    transform: rotate(8deg) translate(9.4em) rotate(-6deg);
  }

  .deg65_sec {
    transform: rotate(55deg) translate(9em) rotate(-56deg);
  }

  .deg85_sec {
    transform: rotate(119deg) translate(8.7em) rotate(-117deg);
  }

  .deg135_sec {
    transform: rotate(171deg) translate(9.6em) rotate(-170deg);
  }

  .deg165_sec {
    transform: rotate(217deg) translate(10.7em) rotate(143deg);
  }

  .deg225_sec {
    transform: rotate(270deg) translate(11.5em) rotate(-264deg);
  }

}

@media only screen and (max-width: 320px) {
  .circle-container a.center {
    height: auto;
    width: 174px;
    top: 59px;
    left: 88px;
    transition: all .5s ease;
  }

  .circle-container a {
    display: block;
    position: absolute;
    top: 43%;
    left: 46%;
    width: 3em;
    height: 4em;
    margin: -2em;
    transition: all .2s ease;
  }

  .deg0 {
    transform: rotate(-14deg) translate(7.8em) rotate(3deg);
  }

  /* 12em = half the width of the wrapper */
  .deg15 {
    transform: rotate(-46deg) translate(8.3em) rotate(89deg);
  }

  .deg45 {
    transform: rotate(22deg) translate(7.3em) rotate(-20deg);
  }

  .deg65 {
    transform: rotate(63deg) translate(7em) rotate(-65deg);
  }

  .deg85 {
    transform: rotate(101deg) translate(6.7em) rotate(-102deg);
  }

  .deg135 {
    transform: rotate(141deg) translate(7.1em) rotate(-132deg);
  }

  .deg145 {
    transform: rotate(175deg) translate(7.8em) rotate(-183deg);
  }

  .deg165 {
    transform: rotate(210deg) translate(8em) rotate(56deg);
  }

  .deg180 {
    transform: rotate(237deg) translate(9em) rotate(-238deg);
  }

  .deg225 {
    transform: rotate(264deg) translate(9em) rotate(-264deg);
  }

  .deg315 {
    transform: rotate(289deg) translate(9em) rotate(-268deg);
  }

  .deg15_sec {
    transform: rotate(-35deg) translate(8.5em) rotate(34deg);
  }

  .deg45_sec {
    transform: rotate(8deg) translate(7.4em) rotate(-6deg);
  }

  .deg65_sec {
    transform: rotate(55deg) translate(7em) rotate(-56deg);
  }

  .deg85_sec {
    transform: rotate(119deg) translate(6.7em) rotate(-117deg);
  }

  .deg135_sec {
    transform: rotate(171deg) translate(7.6em) rotate(-170deg);
  }

  .deg165_sec {
    transform: rotate(217deg) translate(8.7em) rotate(143deg);
  }

  .deg225_sec {
    transform: rotate(270deg) translate(9.5em) rotate(-264deg);
  }

}

/* Link Style*/

.link_evolution {
  position: relative;
  top: 133%;
  left: 14%;
  display: inline-block;
}

.link_evolution a {
  color: #7b896b;
  text-decoration: underline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
}

.link_evolution a:hover,
.link_evolution a:active {
  color: #99af83;
}

@media only screen and (max-width: 56.25em) {
  .link_evolution {
    position: relative;
    top: 110%;
    left: 16%;
    display: inline-block;
  }

  .link_evolution a {
    color: #7b896b;
    text-decoration: underline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
}

@media only screen and (max-width: 37.5em) {
  .link_evolution {
    position: relative;
    top: 110%;
    left: 16%;
    display: inline-block;
  }

  .link_evolution.mb_align {
    left: 23%;
  }

  .link_evolution a {
    color: #7b896b;
    text-decoration: underline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  .link_evolution {
    position: relative;
    top: 96%;
    left: 8%;
    display: inline-block;
  }

  .link_evolution.mb_align {
    left: 19%;
    top: 98%;
  }

  .showcase {
    overflow: hidden;
  }
}

/* Title style */

.header_evolution {
  font-family: "Helvetica Neue Thin", sans-serif;
  font-weight: bold;
  font-size: 92px;
  color: #434d4a;
  transition: all .2s ease-in;
  transform: translateX(-1800px);
  animation: animation1 2s forwards ease-in;
  animation-delay: 1.5s;
  margin-top: 70px;
}


@keyframes animation2 {
  to {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1200px) {
  .header_evolution {
    font-size: 50px;
    margin: 0 auto;
    margin-top: 56px;
  }
}

@media only screen and (max-width: 56.25em) {
  .header_evolution {
    font-size: 40px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 37.5em) {
  .header_evolution {
    font-size: 20px;
    position: absolute;
    top: 14%;
    left: 15%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    animation: animation1 0s forwards ease-in;
    animation-delay: 0s;
  }
}

@media only screen and (max-width: 320px) {
  .header_evolution {
    font-size: 16px;
    position: absolute;
    top: 15%;
    left: 16%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/* Main Content style*/
.main-content--title {
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-content--title h2 {
  font-family: "Helvetica Neue Thin", sans-serif;
  font-weight: bold;
  white-space: nowrap;
  font-size: 32px;
  color: #434d4a;
}

.main-content--title h2.line-title-decoration:after,
.main-content--title h2.line-title-decoration:before {
  content: ' ';
  position: absolute;
  width: 340px;
  height: 3px;
  background: #ccc;
  transition: all .2s ease-in;
}

.main-content--title h2.line-title-decoration:after {
  top: 14px;
  left: 444px;
}

.main-content--title h2.line-title-decoration:before {
  top: 14px;
  left: -355px;
}

.main-content--title:hover h2.line-title-decoration:after,
.main-content--title:hover h2.line-title-decoration:before {
  width: 30%;
  background: #ebdeb5;
}

.main-content--title:hover h2.line-title-decoration:before {
  left: -145px;
}

.main-content--text p {
  font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.line-decoraion_down {
  width: 100%;
  height: 3px;
  background: #ccc;
  margin: 40px auto;
  transition: all .2s ease;
}

.main-content--text:hover div.line-decoraion_down {
  width: 50%;
  height: 3px;
  background: #ccc;
  margin: 40px auto;
  background: #ebdeb5;
}


@media only screen and (max-width: 1200px) {
  .main-content {
    margin-top: 2vh;
  }

  .main-content--title h2.line-title-decoration:after {
    top: 14px;
    left: 318px;
  }

  .main-content--title:hover h2.line-title-decoration:before {
    left: -111px;
  }

  .main-content--title h2.line-title-decoration:before {
    top: 14px;
    left: -333px;
  }

  .main-content--title h2.line-title-decoration:after,
  .main-content--title h2.line-title-decoration:before {
    content: ' ';
    position: absolute;
    width: 306px;
  }

  .main-content--title h2 {
    font-size: 22px;
  }

  .main-content--title .line {
    width: 15vh;
    height: 3px;
    background: #ccc;
    margin: 18px;
  }
}

@media only screen and (max-width: 992px) {

  .main-content--title h2.line-title-decoration:after,
  .main-content--title h2.line-title-decoration:before {
    content: ' ';
    position: absolute;
    width: 185px;
  }

  .main-content--title h2.line-title-decoration:before {
    top: 14px;
    left: -196px;
  }
}

@media only screen and (max-width: 56.25em) {
  .main-content {
    margin-top: 3vh;
  }

  .main-content--title h2.line-title-decoration:after,
  .main-content--title h2.line-title-decoration:before {
    display: none;
  }

  .line-decoraion_down {
    width: 100%;
  }

}

@media only screen and (max-width: 768px) {
  .main-content {
    margin-top: 37vh;
  }
}

@media only screen and (max-width: 37.5em) {
  .main-content {
    margin-top: 50vh;
    padding: 10px;
  }

  .main-content--title h2.line-title-decoration:before {
    top: -15px;
    position: absolute;
    left: -22px;
    display: block;
    width: 115%;
    content: ' ';
  }

  .main-content--title h2 {
    font-size: 20px;
    margin-top: 20px;
  }

  .main-content--text {
    font-size: 14px;
  }

  .main-content--title .line {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .main-content {
    margin-top: 55vh;
    padding: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .main-content {
    margin-top: 65vh;
    padding: 10px;
  }

  .main-content--title h2 {
    font-size: 16px;
  }

  .main-content--title h2.line-title-decoration:before {
    top: -15px;
    position: absolute;
    left: -26px;
    display: block;
    width: 124%;
    content: ' ';
  }
}

/* Slider style */
.slider-content {
  width: 94%;
  margin: 50px auto;
  cursor: pointer;
}

.slider-inside-content {
  height: 216px;
  padding: 15px;
  transition: all .2s ease-in;
}

.slider-inside-content:hover {
  transform: scale(1.02);
}

.slider-content .slider-inside-content img {
  box-shadow: 5px 6px 6px #ccc;
  border-radius: 4px;
  height: 215px;
  margin-top: -4px;
}

.slider-text {
  border: 1px solid #ccc;
  box-shadow: 2px 3px 6px #ccc;
  font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  background: #fefefe;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 4px;
}

.slider-text p {
  padding: 10px;
}

.slider-text:before,
.slider-text:after {
  content: ',,';
  position: absolute;
  color: #aba08a;
  font-weight: 100;
  font-family: fantasy;
  font-size: 48px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.slider-text:before {
  top: -2%;
  left: 5px;
  transform: rotate(180deg);
}

.slider-text:after {
  top: 67%;
  left: 90%;
}

.owl-carousel {
  position: relative;
}

.owl-next {
  position: absolute;
  left: 102%;
  top: 33%;
  height: 45px;
  outline: none;
}

.owl-prev {
  position: absolute;
  left: -3%;
  top: 33%;
  height: 45px;
  outline: none;
}

.owl-next span:focus,
.owl-next span:hover {
  outline: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: #aba08a;
  border: none;
  padding: 0 !important;
  font-size: 45px;
  outline: none;
  transition: all .2s ease-in;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  color: #c4b496;
}

@media only screen and (max-width: 37.5em) {
  .owl-nav {
    display: none;
  }
}

/* Footer */

.footer_style_evolution {
  background: #4d514d;
}

.footer-st {
  height: 10vh;
  font-family: 'helvetica_neuethin';
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: #4d514d;
  align-items: center;
  font-size: 20px;
  width: 100%;
}


.copy_right_text {
  color: #e4dfdf;
  font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.social .fa-twitter,
.social .fa-facebook,
.social .fa-instagram {
  font-size: 40px;
}

.social .fa-facebook {
  color: #3C5A99;
}

.social .fa-facebook:hover {
  color: rgb(76, 103, 161);
}

.social .fa-instagram {
  color: #b5368b;
}

.social .fa-instagram:hover {
  color: #aa4f8c;
}

.social .fa-twitter {
  margin: 0 10px;
}

.social .fa-instagram:hover,
.social .fa-twitter:hover,
.fa-facebook:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 56.25em) {}

@media only screen and (max-width: 37.5em) {

  .footer-st .copy_right_text {
    font-family: 'helvetica_neuethin';
    font-size: 13px;
  }

  .social .fa-twitter,
  .social .fa-facebook,
  .social .fa-instagram {
    font-size: 24px;
  }

  .footer-st {
    height: 10vh;
    font-family: 'helvetica_neuethin';
    display: flex;
    justify-content: space-around;
  }
}
